---
title: "Das Oldschoolgym im Veedel"
layout: splash
permalink: /
header:
  overlay_image: /images/placeholders/tl_header.webp
  overlay_filter: rgba(0, 0, 0, 0.6)
excerpt: "**Bodybuilding, Kraftdreikampf, Krafttraining, Fitness**"


gallery:
- url: /assets/images/unsplash-gallery-image-1.jpg
  image_path: /assets/images/unsplash-gallery-image-1-th.jpg
  alt: "placeholder image 1"
  title: "Image 1 title caption"
- url: /assets/images/unsplash-gallery-image-2.jpg
  image_path: /assets/images/unsplash-gallery-image-2-th.jpg
  alt: "placeholder image 2"
  title: "Image 2 title caption"
- url: /assets/images/unsplash-gallery-image-3.jpg
  image_path: /assets/images/unsplash-gallery-image-3-th.jpg
  alt: "placeholder image 3"
  title: "Image 3 title caption"
- url: /assets/images/unsplash-gallery-image-4.jpg
  image_path: /assets/images/unsplash-gallery-image-4-th.jpg
  alt: "placeholder image 4"
  title: "Image 4 title caption"
- url: /assets/images/unsplash-gallery-image-4.jpg
  image_path: /assets/images/unsplash-gallery-image-4-th.jpg
  alt: "placeholder image 4"
  title: "Image 5 title caption"
- url: /assets/images/unsplash-gallery-image-4.jpg
  image_path: /assets/images/unsplash-gallery-image-4-th.jpg
  alt: "placeholder image 4"
  title: "Image 6 title caption"


feature_row:
  - image_path: /assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

<h1 class="text-center subtle-blue bigger">
  <span id="willkommen"></span>
  Willkommen im Trainingslager Köln
</h1>

<p class="center">
  (ChatGPT-Platzhalter-Text):<br>
  Willkommen im "Trainingslager Köln" – dem ultimativen Ziel für alle Fitness-Enthusiasten, Bodybuilder, Kraftdreikämpfer und Fitnessbegeisterten! Hier erwartet dich eine außergewöhnliche Trainingsatmosphäre und eine umfassende Ausstattung, um deine körperlichen Ziele zu erreichen und deine Grenzen zu überwinden.
  <br><br>
  Unser hochqualifiziertes Trainerteam steht dir mit jahrelanger Erfahrung und Fachwissen zur Seite, um dich auf deiner Fitnessreise zu begleiten und zu unterstützen. Ganz gleich, ob du nach einem intensiven Krafttraining suchst, dich im Bodybuilding verbessern möchtest oder dich für den anspruchsvollen Kraftdreikampf vorbereitest – bei uns findest du die perfekte Umgebung, um deine Leistungsfähigkeit auf ein neues Level zu bringen.
  <br><br>
  Unser Studio bietet beste Oldschool-Geräte und erstklassige Trainingsmöglichkeiten, die auf die individuellen Bedürfnisse jedes Trainierenden zugeschnitten sind. Egal, ob du ein Anfänger bist oder bereits Erfahrung hast, hier findest du den optimalen Raum, um dich weiterzuentwickeln und deine Ziele zu verwirklichen.

</p>




<hr class="section-sep-with-image">




<h1 class="center subtle-blue bigger">
  <span  id="galerie"></span>
  Galerie
</h1>

{% include gallery caption="Beispielbilder vom Theme, hier können Fotos vom Gym hin" %}





<hr class="section-sep-with-image">




<h1 class="center subtle-blue bigger">
  <span  id="trainer_innen"></span>
  Trainer*Innen
</h1>

{% include feature_row %}





<hr class="section-sep-with-image">




<h1 class="center subtle-blue bigger">
  <span id="infos"></span>
  Infos
</h1>

<div class="container">
  <div class="box">
    <h2 class="center no-margin">Öffnungszeiten</h2>

    <p class="center top-margin">
      <span class="nowrap">Montag-Freitag: 08:00 - 22:00</span><br>
      <span class="nowrap">Samstag & Sonntag: 10:00 - 18:00</span>
    </p>


    <h2 class="center no-margin">Anfahrt</h2>
    <p class="italic center top-margin">
      Zülpicher Str. 58, 50674 Köln
    </p>

    <a href="https://www.google.com/maps/place/Trainingslager+K%C3%B6ln/@50.9281551,6.9323494,17z/data=!3m1!5s0x47bf24fe9feb6a41:0xb3898b066108a077!4m6!3m5!1s0x47bf24fe9f6d8247:0x7430d4a4668ca5a6!8m2!3d50.9281551!4d6.9349243!16s%2Fg%2F1tdzq7z0?entry=ttu"
       target="_blank" rel="noopener noreferrer nofollow" class="btn-link center">
      <button class="btn-custom">
        Route anzeigen
      </button>
    </a>
    <br>
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2514.760076917561!2d6.93234937676961!3d50.92815507168734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf24fe9f6d8247%3A0x7430d4a4668ca5a6!2sTrainingslager%20K%C3%B6ln!5e0!3m2!1sen!2sde!4v1691527780625!5m2!1sen!2sde" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


  </div>


  <div class="box">
    <h2 class="center no-margin">Preise</h2>

    <p class="center top-margin">
      <span class="bold">Regulär:</span><br>
      12 Monatsabo: 49,- mtl.<br>
      3 Monatsabo: 55,- mtl.<br>
      1 Monatsabo: 59,- mtl.<br>
      <br>
      <span class="bold">Schüler*Innen, Student*Innen:</span><br>
      12 Monatsabo: 44,- mtl.<br>
      3 Monatsabo: 49,- mtl.<br>
      1 Monatsabo: 55,- mtl.<br>
      <br>
      <span class="bold colored">Keine Aufnahmegebühr oder Zusatzkosten!</span><br>
      <br>
      <span class="bold">Extras</span><br>
      Tageskarte: 12,-<br>
      10er-Karte: 100,-
    </p>

  </div>
</div>








<h2 class="center"> Das sagen unsere Kund*Innen </h2>




<hr class="section-sep-with-image">




<h1 class="center subtle-blue bigger">
  <span  id="kontakt"></span>
  Kontakt
</h1>


