<div class="page__footer-follow center">
  <ul class="social-icons">


    <li><a href="https://www.instagram.com/trainingslager_oldschoolgym/"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fab fa-fw fa-instagram instagram" aria-hidden="true"></i> Instagram</a></li>

    <li><a href="{{ '/imprint' | absolute_url }}"
           rel="noopener noreferrer nofollow"
           target="_blank"><i class="fas fa-fw fa-gavel" style="color:#d3a95a;" aria-hidden="true"></i> Impressum & Datenschutz</a></li>
  </ul>
</div>

<div class="page__footer-copyright center">&copy; {{ site.time | date: '%Y' }} Trainingslager Köln.
  Created by
  <a rel="noopener noreferrer nofollow" target="_blank"href="https://perstarke-webdev.de/">
    Per Starke Web Development</a>
</div>
