/* special styles for TL website */

.center {
    text-align: center;
}

.subtle-blue {
    color: #7fa8d6;
}

h1.bigger {
    font-size: 2rem;
}


.colored {
    color: #d3a95a;
}

hr.section-sep {
  border: none;
  height: 3px;
  margin: 50px 0;
  background: linear-gradient(to left, transparent 0%, #d3a95a 40%, #d3a95a 60%, transparent 100%);
}

hr.section-sep-with-image {
  border: none;
  height: 80px;
  padding-top: 38.1px;
  padding-bottom: 38.1px;
  margin: 80px 0; /* Adjust the margin as needed */
  position: relative;
}

/* Add the gradient to the whole line */
hr.section-sep-with-image::before {
  content: "";
  display: block;
  height: 100%;
  background: linear-gradient(
    to left,
    transparent 0%,
    #d3a95a 45%,
    #d3a95a 55%,
    transparent 100%
  );
}

/* Add the image using the ::after pseudo-element */
hr.section-sep-with-image::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%; /* Adjust the vertical position of the image */
  left: 50%; /* Adjust the horizontal position of the image */
  transform: translate(-50%, -50%); /* Center the image */
  width: 160px; /* Adjust the width of the image as needed */
  height: 160px; /* Adjust the height of the image as needed */
  background-image: url("/images/barbell.png");
  background-size: cover; /* Scale the image to cover the container */
  background-color: #1e1813; /* Set the background color of the image */
  z-index: 1; /* Ensure the image is positioned above the gradient */
}






.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch; /* Ensures both boxes have the same height */
}

.box {
    flex-grow: 1; /* Fill available space */
    flex: 1 1 0px;
    min-width: 285px; /* Set minimum width */
    margin: 5px;
    padding: 10px;
    border: 2px solid #d3a95a;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Align content vertically */
}

.no-margin {
    margin: 0;
}

.top-margin {
    padding-top: 10px;
}

.nowrap {
    white-space: nowrap;
}

span.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-custom {
    display: inline-block;
    font-weight: 400;
    color: #333; /* Set the text color */
    text-align: center;
    vertical-align: middle;
    background-color: #d3a95a; /* Yellow-beige-ish background */
    border: 1px solid #d3a95a; /* Set border color */
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-custom:hover {
    background-color: #c49055; /* Change background on hover */
    border-color: #a67845; /* Darker border color on hover */
}




.btn-link {
  display: inline-block;
}

#cookie-banner {
    color: white;
    background-color: rgb(54, 69, 79);
    padding: 10px;
    border-radius: 5px;
}




.rezension-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.rezension-flex-box {
    flex: 1 0 30%; /* Anpassen der Breite der Boxen */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}


.stars {
  font-size: 20px;
  white-space: nowrap;
}


.stars i {
    color: gold;
}

.stars-text {
    margin-left: 10px;
    white-space: nowrap;
}

.rezension-box {
    border: 2px solid #d3a95a; /* Set border color */
    border-radius: 5px;
    background-color: rgba(211, 169, 90, 0.1); /* Transparent background color */
}


.rezension-text {
    font-style: italic;
    font-size: 0.8em !important;
}

hr.rezension-sep {
    border-top: 2px solid #d3a95a;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}