/* special styles for TL website */

.center {
    text-align: center;
}

.subtle-blue {
    color: #7fa8d6;
}

.subtle-orange {
    color: #a77963;
}


h1.bigger {
    font-size: 2rem;
}


.colored {
    color: #d3a95a;
}






.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch; /* Ensures both boxes have the same height */
}

.box {
    flex-grow: 1;
    flex: 1 1 0px;
    min-width: 285px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent; /* Set border to be transparent initially */
}

.box1 {
    border-image: linear-gradient(to bottom left, #d3a95a, #7fa8d6) 1;
    border-image-slice: 1;
}

.box2 {
    border-image: linear-gradient(to bottom right, #d3a95a, #a77963) 1;
    border-image-slice: 1;
}


.no-margin {
    margin: 0;
}

.top-margin {
    padding-top: 10px;
}

.nowrap {
    white-space: nowrap;
}

span.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-custom {
    display: inline-block;
    font-weight: 400;
    color: #333; /* Set the text color */
    text-align: center;
    vertical-align: middle;
    background-color: #d3a95a; /* Yellow-beige-ish background */
    border: 1px solid #d3a95a; /* Set border color */
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
    transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

.btn-custom:hover {
    background-color: #c49055; /* Change background on hover */
    border-color: #a67845; /* Darker border color on hover */
}




.btn-link {
  display: inline-block;
}


#cookie-banner {
    display: block; /* Initially hide the div */
    position: fixed; /* Stick to the viewport */
    bottom: 0; /* Stick to the bottom of the viewport */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow */
    color: white;
    background-color: rgb(54, 69, 79);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    font-size: 70%
}




.rezension-flex-container {
    display: flex;
    flex-wrap: wrap;
}

.rezension-flex-box {
    flex: 1 0 30%; /* Anpassen der Breite der Boxen */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}


.stars {
  font-size: 20px;
  white-space: nowrap;
}


.stars i {
    color: gold;
}

.stars-text {
    margin-left: 10px;
    white-space: nowrap;
}

.rezension-box {
    border-radius: 5px;
}

/* First box */
.first-box {
    border: 2px solid #d3a95a;
    background-color: rgba(211, 169, 90, 0.1); /* Transparent version of border color */
}

/* Second box with subtle blue color */
.second-box {
    border: 2px solid #7fa8d6; /* Subtle blue border color */
    background-color: rgba(127, 168, 214, 0.1); /* Transparent version of blue border color */
}

/* Third box with subtle orange color */
.third-box {
    border: 2px solid #a77963; /* Subtle orange border color */
    background-color: rgba(167, 121, 99, 0.1); /* Transparent version of orange border color */
}



.rezension-text {
    font-style: italic;
    font-size: 0.8em !important;
}

hr.rezension-sep {
    border-top: 2px solid #d3a95a;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.instagram:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: initial;
}

a.fixlink {
    color: #d3a95a !important;
}

a.fixlink:visited {
    color: #d3a95a !important;
}

a.fixlink:hover {
    color: #ddbe82 !important;
}

.padding-icon {
    padding-right: 20px;
}

.margin-bottom {
    margin-bottom: 40px;
}


.masthead {
    border-bottom: none !important;
}


.lighter-brown {
    background-color: #3d3630;
}


  @media (max-width: 600px) {
    .desktop-only {
      display: none;
    }
    .mobile-only {
      display: block;
    }
  }

  @media (min-width: 601px) {
    .desktop-only {
      display: block;
    }
    .mobile-only {
      display: none;
    }
  }



.zoomed-image {
  transition: transform 0.2s ease-in-out;
}

.zoomed-image:hover {
  transform: scale(1.05);
}


.section {
    padding: 80px 5vw 0 5vw;
    margin-top: -80px;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}


.alternate-section {
    background-color: #3d3630;
}


.normal-section {
    background-color: #1e1813;
}










/* Default styling for the container */
.section-sep-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

/* Alternative separator using ::before pseudo-element */
.section-sep-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 3px; /* Adjust the height for the separator line */
  background: linear-gradient(
    to left,
    transparent 0%,
    #d3a95a 35%,
    #d3a95a 65%,
    transparent 100%
  );
}

/* Default styling for the image container */
.section-sep-image-container {
  background: linear-gradient(
    to bottom,
    #1e1813 0%,
    #1e1813 50%,
    #3d3630 50%,
    #3d3630 100%
  );
  position: relative;
  display: inline-block;
  width: 160px;
  height: 160px;
  margin-top: 160px;
  top: -80px; /* Offset the position to align with the separator */
}

/* Image inside the container */
.section-sep-image-container img {
  width: 100%;
  height: 100%;
}

.section-sep-image-container-alternate {
  background: linear-gradient(
    to bottom,
    #3d3630 0%,
    #3d3630 50%,
    #1e1813 50%,
    #1e1813 100%
  );
}


.separator-one {
    background: linear-gradient(
        to bottom,
        #1e1813 0%,
        #1e1813 50%,
        #3d3630 50%,
        #3d3630 100%
    );
    padding: 0 5vw 0 5vw;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}

.separator-two {
    background: linear-gradient(
        to top,
        #1e1813 0%,
        #1e1813 50%,
        #3d3630 50%,
        #3d3630 100%
    );
    padding: 0 5vw 0 5vw;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}









.container_start {
    display: flex;
    text-align: center;
}

.box10,
.box11 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.box10 {
    flex: 0.4; /* Adjust this value to control the width of the left box */
}

.box11 {
    flex: 0.6; /* Adjust this value to control the width of the right box */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
}

.box10 img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .container_start {
        flex-direction: column; /* Stack boxes below each other */
    }

    .box10,
    .box11 {
        flex: 1 100%; /* Take full width on smaller screens */
    }
}




.box12,
.box13 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    order: 0
}

.box12 {
    flex: 0.6; /* Adjust this value to control the width of the left box */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center content */
}

.box13 {
    flex: 0.4; /* Adjust this value to control the width of the right box */
}

.box13 img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    .container_start {
        flex-direction: column; /* Stack boxes below each other */
    }

    .box12,
    .box13 {
        flex: 1 100%; /* Take full width on smaller screens */
    }

    .box12 {
        order: 2
    }
    .box13 {
        oder: 1
    }
}




.kein0815-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.kein0815-box {
    width: calc(33.33% - 20px);
    padding: 20px;
    border: 1px solid #d3a95a;
    box-sizing: border-box;
    text-align: center;
}

.round-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.round-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}



@media (max-width: 700px) {
    .kein0815-container {
        flex-direction: column; /* Stack boxes vertically */
        align-items: center; /* Center boxes horizontally */
    }

    .kein0815-box {
        width: 100%; /* Take up full width */
        margin-bottom: 20px; /* Add spacing between boxes */
    }
}



@media (max-height: 600px) {
    .page__title {
        padding-top: 200px;
    }
}



