/* special styles for TL website */

.center {
    text-align: center;
}

.subtle-blue {
    color: #7fa8d6;
}

h1.bigger {
    font-size: 2rem;
}


.colored {
    color: #d3a95a;
}

hr.section-sep {
  border: none;
  height: 3px;
  margin: 50px 0;
  background: linear-gradient(to left, transparent 0%, #d3a95a 40%, #d3a95a 60%, transparent 100%);
}










hr.section-sep-with-image {
  border: none;
  height: 80px;
  padding-top: 38.1px;
  padding-bottom: 38.1px;
  margin: 30px 0; /* Adjust the margin as needed */
  position: relative;
}

/* Add the gradient to the whole line */
hr.section-sep-with-image::before {
  content: "";
  display: block;
  height: 100%;
  background: linear-gradient(
    to left,
    transparent 0%,
    #d3a95a 45%,
    #d3a95a 55%,
    transparent 100%
  );
}

/* Add the image using the ::after pseudo-element */
hr.section-sep-with-image::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%; /* Adjust the vertical position of the image */
  left: 50%; /* Adjust the horizontal position of the image */
  transform: translate(-50%, -50%); /* Center the image */
  width: 160px; /* Adjust the width of the image as needed */
  height: 160px; /* Adjust the height of the image as needed */
  background-image: url("/images/barbell.png");
  background-size: cover; /* Scale the image to cover the container */
  background-color: #1e1813; /* Set the background color of the image */
  z-index: 1; /* Ensure the image is positioned above the gradient */
}


















